<form [formGroup]="form">
  <label>
    <input
      formControlName="searchByName"
      type="text"
      class="form-control"
      placeholder="Search By Name"
      (input)="onChange(form.value)" >
  </label>

  <p-accordion>
    <p-accordionTab header="Advanced search" [selected]="false">
      <label>
        <input
          formControlName="searchByNickname"
          type="text"
          class="form-control"
          placeholder="Search By Nickname"
          (input)="onChange(form.value)" >
      </label>

      <h2 class="mt-2"> Search by Show </h2>

      <div class="d-flex justify-content-center radio__label-margin--0">
        <div class="mr-3 mb-0">
          <p-checkbox
            name="groupname"
            [value]="true"
            label="Breaking Bad"
            (click)="onChange(form.value)"
            [formControl]="this.form.get('searchByShow.breakingBad')">
          </p-checkbox>
        </div>

        <div class="mr-3 mb-0">
          <p-checkbox
            name="groupname"
            [value]="true"
            label="Better Call Saul"
            (click)="onChange(form.value)"
            [formControl]="this.form.get('searchByShow.betterCallSaul')">
          </p-checkbox>
        </div>
      </div>
    </p-accordionTab>
  </p-accordion>
</form>
