<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" method="post" class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="card-body text-center">
        <div class="form-group">
          <label for="task">Task</label>
          <input formControlName="task" type="text" name="name" id="task" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-2" [disabled]="!this.form.valid">
          Add Task
        </button>
      </div>
    </div>
  </form>

  <div class="container">
    <div class="card mt-4">
      <div class="card-title">
        <h2 class="text-center mt-2">Current Tasks</h2>
      </div>

      <div class="card-body">
        <table class="table table-striped task-table">
          <thead>
            <th>Task</th>
            <th>&nbsp;</th>
          </thead>

          <tbody>
          <tr *ngFor="let task of tasks">
            <td class="table-text">
              <div>{{task.task}}</div>
            </td>

            <td>
              <form  (ngSubmit)="onDelete($event)">

                <button class="btn btn-danger">Delete Task</button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

