<form [formGroup]="form" class="mat-card p-5" (ngSubmit)="saveForm()">
  <h1 class="h3 mb-3 font-weight-normal text-center"> Reset password </h1>
  <p class="text-center"> If you forgotten your password you can reset it here  </p>
  <div class="mb-2">
    <label for="inputEmail">Email</label>
    <input formControlName="email" type="email" id="inputEmail" class="form-control" placeholder="Email address">
  </div>

  <button class="btn btn-success btn-block" type="submit">
    <i class="fas fa-sign-in-alt"></i> Sign in
  </button>
</form>
