<div class="bg-image">
  <div class="text-center pt-5">
    <img src="../../../../../assets/images/breaking-bad-api/logo.png">
  </div>

  <div class="text-center pt-5 container">
    <form [formGroup]="form">
      <input
        formControlName="searchByName"
        type="text"
        class="form-control"
        placeholder="Search By Name"
        (input)="onChange()" >

      <p-accordion>
        <p-accordionTab header="Advanced search" [selected]="false">
          <input
            formControlName="searchByNickname"
            type="text"
            class="form-control"
            placeholder="Search By Nickname"
            (input)="onChange()" >
        </p-accordionTab>
      </p-accordion>
    </form>
  </div>

  <div class="container mt-5">
    <ng-container *ngIf="!isDataLoaded">
      <app-spinner></app-spinner>
    </ng-container>

    <app-card
      [fetchedData]="fetchedData">
    </app-card>
  </div>
</div>
