<div class="bg-image">
  <div class="text-center pt-5">
    <img src="../../../../../assets/images/breaking-bad-api/logo.png">
  </div>

  <div class="text-center pt-5 container">
    <form [formGroup]="form">
      <input
        formControlName="search"
        type="text"
        class="form-control"
        placeholder="Search"
        (input)="onChange()" >
    </form>
  </div>

  <div class="container mt-5">
    <ng-container *ngIf="!isDataLoaded">
      <app-spinner></app-spinner>
    </ng-container>

    <app-card
      [fetchedData]="fetchedData">
    </app-card>
  </div>
</div>
